Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
# Frontend dependencies
grails-app/assets/javascripts/bootstrap*
grails-app/assets/javascripts/jquery*
grails-app/assets/stylesheets/bootstrap*
